:root {
    --width-size:2.2vw;
    
    font-size: calc(var(--width-size) / 1.25);
    font-family: "Barlow Semi Condensed", serif;
    color: white;
}

h1 {
    font-family: "Bungee Outline", serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body > div{
    background-image: url("./media/Quentin_Tarantino_Background_2.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    padding: 80px 50px;
}

body > div > div  {
    background-color: rgba(0, 0, 0, 0.4);
    
    border-radius: 20px;

    padding: 20px;
}

header h1 {
    font-size: calc(2.5 * var(--width-size));
    font-family: "Bungee Shade";
}

nav  {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

nav div {
    font-size: var(--width-size);
    color: black;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

nav div:active {
    cursor: pointer;
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
}

.marked {
    font-weight: bold;
    border: 1px solid white;
    box-shadow: 1px 1px 10px white;
}

.marked:active {
    cursor: default;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
}

article {
    background-color: rgba(0, 0, 0, 0.5);
    
    border-radius: 20px;
    
    border: 1px solid white;
    
    margin: 20px 0;

    padding: 10px;
    
    display: grid;
    
    grid-gap: 10px;
    
    grid-template-columns: 8fr 6fr 7fr;
    
    grid-template-areas: 
        "album_data album_data cover"
        "album_data album_data list"
        "anecdotes anecdotes anecdotes"
    ;
}

.album_data {
    grid-area:album_data;
}
.album_data p {
    max-width: 45ch;
}


.cover {
    grid-area:cover;
    position: relative;
    width: calc(var(--width-size) * 20.45);
    height: calc(var(--width-size) * 20.45);
            /* Width reference: 1111px */
    max-width: 500px;
    max-height: 500px;
}

.show_not_hover {
    position: absolute;
    opacity: 1;
    transition: all 0.667s ease-in-out;
}
.show_not_hover:hover {
    opacity: 0;
}
.show_hover:hover {
    opacity: 1;
}

.show_hover {
    position: absolute;
}
.cover img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0 0;
}

.song_list {
    grid-area:list;
    display: flex;
    gap: 1vh;
    color: white;
    
}

.song_list div {
    color: #000;
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: start;
    flex-direction: column;
    padding: calc(var(--width-size) / 1.336);
}
#are_you_experienced .song_list div {
    background-color: #f8c11c;
}
#axis_bold_as_love .song_list div {
    background-color: #db1919;
}
.song_list > div:nth-child(1) {
    border-radius: 0 0 0 20px;
    background-color: black;
}
.song_list > div:nth-child(2) {
    border-radius: 0 0 20px 0;
    background-color: black;
}

.song_list h2 {
    margin: 0;
}

.song_list ul {
    list-style-type: decimal;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    /* Padding:0 to achieve symmetrical starting points for li and h2 */
}

.anecdotes {
    grid-area:anecdotes;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1vh;
    padding: 0;
}

.anecdotes li {
    height: 200px;
    padding: 20px;
}


#are_you_experienced .anecdotes li {
    background-color: #db1919;
}
#are_you_experienced > .anecdotes> li:nth-child(1) {}
#are_you_experienced > .anecdotes> li:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.0);
}
#are_you_experienced > .anecdotes> li:nth-child(3) {}
#are_you_experienced > .anecdotes> li:nth-child(4) {
    display: none;
}
#are_you_experienced > .anecdotes> li:nth-child(5) {
    display: none;
}
#are_you_experienced > .anecdotes> li:nth-child(6) {
    display: flex;
    align-items: end;
    text-align: left;
    background-image: url("./media/Kill_Bill_Quention_Interaction.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}
#are_you_experienced > .anecdotes> li:nth-child(7) {}

#axis_bold_as_love .anecdotes li{
    background-color: #000;

}
#axis_bold_as_love > .anecdotes> li:nth-child(1) {}
#axis_bold_as_love > .anecdotes> li:nth-child(2) {}
#axis_bold_as_love > .anecdotes> li:nth-child(3) {
    display: none;
}
#axis_bold_as_love > .anecdotes> li:nth-child(4) {
    display: none;
}
#axis_bold_as_love > .anecdotes> li:nth-child(5) {
    display: flex;
    text-align: right;
    align-items: end;
    justify-content: end;
    color: #000;
    background-image: url("./media/Reservoire_Dogs_Quentin_Interaction.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 150%;
    
    
}
#axis_bold_as_love > .anecdotes> li:nth-child(6) {}

@media (min-width: 1111px) {
    article {
    grid-template-columns: 8fr 6fr 500px;
    }
    
    header h1 {
        font-size: 56px;
    }
    nav div {
        font-size: 24px;
    }
    h1, h2 {
        font-size: 29px;
    }
    p, li {
        font-size: 19.5px;
    }
}

@media (max-width: 799px) {
    article {
    display: flex;
    flex-wrap: wrap;
    }
    .cover {
    order: 1;
    }
    .song_list {
    order: 2;
    }
    .album_data {
    order: 3;
    }
    .anecdotes {
    order: 4;
    }

    .cover {
    max-width: none;
    max-height: none;
    width: calc(var(--width-size) * 21);
    height: calc(var(--width-size) * 21);
    }

    /* Specific size for 2nd article b/c longer song-lists */
    #axis_bold_as_love .cover {
    width: calc(var(--width-size) * 23.58);
    height: calc(var(--width-size) * 23.58);
    }

    .song_list {
    flex-direction: column;
    flex-grow: 1;
    }

    .song_list div {
    display: block;
    font-size: var(--width-size);
    }

    .album_data {
        flex-grow: 1;
    }
    
    .anecdotes {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap:calc(var(--width-size) / 3);
    }
    
    .anecdotes li {
        padding: 7.5px;
    }
    
    #are_you_experienced .anecdotes {
        grid-template-areas: 
        " First   Empty_2 Second Second"
        "Empty_1  Picture Third Empty_4"
        ;
    }
    
    #are_you_experienced > .anecdotes> li:nth-child(1) {
        grid-area: First;
    }
    #are_you_experienced > .anecdotes> li:nth-child(2) {
        background-color: rgba(0, 0, 0, 0.0);
        grid-area: Empty_2;
    }
    #are_you_experienced > .anecdotes> li:nth-child(3) {
        grid-area: Second;
    }
    #are_you_experienced > .anecdotes> li:nth-child(4) {
        display: block;
        grid-area: Empty_1;
        background-color: rgba(0, 0, 0, 0.0);
    }
    #are_you_experienced > .anecdotes> li:nth-child(5) {
        display: block;
        grid-area: Empty_4;
        background-color: rgba(0, 0, 0, 0.0);
    }
    #are_you_experienced > .anecdotes> li:nth-child(6) {
    grid-area: Picture;
    width: initial;
    }
    #are_you_experienced > .anecdotes> li:nth-child(7) {
    grid-area: Third;
    }
    
    #axis_bold_as_love .anecdotes {
        grid-template-areas: 
        "First   First     Second Empty_4"
        "Empty_1 Picture  Picture  Third "
        ;
    }
    #axis_bold_as_love > .anecdotes> li:nth-child(1) {
        grid-area: First;
    }
    #axis_bold_as_love > .anecdotes> li:nth-child(2) {
        grid-area: Second;
    }
    #axis_bold_as_love > .anecdotes> li:nth-child(3) {
        display: block;
        grid-area: Empty_4;
        background-color: rgba(0, 0, 0, 0.0);
    }
    #axis_bold_as_love > .anecdotes> li:nth-child(4) {
        display: block;
        grid-area: Empty_1;
        background-color: rgba(0, 0, 0, 0.0);
    }
    #axis_bold_as_love > .anecdotes> li:nth-child(5) {
        grid-area: Picture;
    }
    #axis_bold_as_love > .anecdotes> li:nth-child(6) {
        grid-area: Third;
    }
}