:root {
    font-family: "Barlow Semi Condensed", serif;
    color: white;
    
    --width-size:2.2vw;
}

h1 {
    font-family: "Bungee Outline", serif;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

body > div{
    background-image: url("file:///Users/lucasff/Skola/Malmo%CC%88%20Universitet/DU1/Projekt/media/33537_quentin-tarantino-premiere-django-desencadenado-paris.webp");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
    padding: 80px 50px;
}

body > div > div  {
    background-color: rgba(0, 0, 0, 0.4);
    
    border-radius: 20px;

    padding: 20px;
}

header h1 {
    font-size: calc(2.5 * var(--width-size));
    font-family: "Bungee Shade";
}

nav  {
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

nav div {
    font-size: var(--width-size);
    color: black;
    text-align: center;
    flex-basis: 0;
    flex-grow: 1;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.marked {
    font-weight: bold;
    border: 1px solid white;
    box-shadow: 1px 1px 10px white;
}

article {
    background-color: rgba(0, 0, 0, 0.5);
    
    border-radius: 20px;
    
    border: 1px solid white;
    
    margin: 20px 0;

    padding: 10px;
    
    display: grid;
    
    grid-gap: 10px;
    
    grid-template-columns: 1fr 1fr ;
    
    grid-template-areas: 
        "album_data album_data cover"
        "album_data album_data list"
        "anecdotes anecdotes anecdotes"
    ;
}

.album_data {
    grid-area:album_data;
}

.cover {
    grid-area:cover;
}


.show_not_hover {
    display: none;
}
.show_hover {
    border-radius: 20px 20px 0 0;
}


.song_list {
    grid-area:list;
    display: flex;
    gap: 1vh;
    color: white;
}

.song_list div {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
    justify-content: start;
    flex-direction: column;
    padding: calc(var(--width-size) / 2);
}
.song_list > div:nth-child(1) {
    border-radius: 0 0 0 20px;
    background-color: black;
}
.song_list > div:nth-child(2) {
    border-radius: 0 0 20px 0;
    background-color: black;
}

.song_list h2 {
    margin: 0;
}

.song_list ul {
    list-style-type: decimal;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}

.anecdotes {
    grid-area:anecdotes;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1vh;
    padding: 0;
}

#are_you_experienced > .anecdotes> li:nth-child(1) {
    background-color: black;
    padding: 20px;
    height: 200px;
}
#are_you_experienced > .anecdotes> li:nth-child(2) {
    
    padding: 20px;
    height: 200px;
}
#are_you_experienced > .anecdotes> li:nth-child(3) {
    background-color: black;
    padding: 20px;
    height: 200px;
}
#are_you_experienced > .anecdotes> li:nth-child(4) {
    display: none;
}
#are_you_experienced > .anecdotes> li:nth-child(5) {
    display: none;
}
#are_you_experienced > .anecdotes> li:nth-child(6) {
    background-image: url("file:///Users/lucasff/Skola/Malmo%CC%88%20Universitet/DU1/Projekt/media/500px.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px;
    height: 200px;
}
#are_you_experienced > .anecdotes> li:nth-child(7) {
    background-color: black;
    padding: 20px;
    height: 200px;
}

#axis_bold_as_love > .anecdotes> li:nth-child(1) {
    padding: 20px;
    height: 200px;
}